{% extends "base.html" %}

{% block content %}

    {% if pd %}
        <div class="container mt-5">
                <div class="card mb-5">
                    <div class="card-body">
                        <h4>{{ pd.title }}</h4>
                        <div class="mb-1 text-muted">- posted by {{ pd.author }}</div>
                        <img class="card-img" src="{{ pd.image.url }}" alt="pic"> <br> <hr>
                        <p class="card-text mb-auto">{{ pd.description }}
                        <div class="mb-1 text-muted text-right">- created at {{ pd.created_at }}</div>
                        <div class="mb-1 text-muted text-right">- updated at {{ pd.updated_at }}</div>

                        {% if request.user.is_authenticated and request.user == pd.author %}
                            <a class="btn btn-warning" href="{% url 'post_update' pd.id %}">Update</a>
                            {% comment %} <a class="btn btn-danger" href="{% url 'post_delete' pd.id %}">Delete</a> {% endcomment %}


                            {% comment %} Delete Button with Modal {% endcomment %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                                    Delete
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Delete Post</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <span class="text-danger">Are you sure to delete this post?</span>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="btn btn-danger" href="{% url 'post_delete' pd.id %}">Yes, Delete</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% comment %}  {% endcomment %}


                        {% endif %}
                    </div>
                </div>
        </div>
    {% endif %}

{% endblock content %}